.button {
  width: 20rem;
  height: 4.5rem;
  border: none;
  cursor: pointer;
  font-size: 2.5rem;
  color: var(--white);
  border-radius: 0.5rem;
  background: var(--black);
  font-family: var(--montserrat);

  text-transform: uppercase;
}
