@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");
html {
  --text: #2b2d42;
  --background: #edf2f4;
  --navbar-text: #2b2d42;
  --navbar-background: #fff;

  --contrast: #293132;
  --opposite-contrast: #ebf5fc;
  --second-contrast: #ebf5fc;
  --second-opposite-contrast: #fb6376;

  --purple: #7d84b2;
  --white: #ebf5fc;
  --blue: #32a3b1;
  --black: #39393a;
  --grey: #8d99ae;

  --standard-font: "Nunito", sans-serif;
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  font-family: var(--standard-font);
  color: var(--text);
  padding: 2.6rem 10%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}

input::placeholder {
  font-family: var(--standard-font);
}

.app-container {
  display: flex;
  justify-content: space-between;
}

.border {
  border-bottom: 0.1rem solid rgba(141, 153, 174, 0.5);
}

.aligned-content {
  display: flex;
  align-items: center;
}
