@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");
html {
  --text: #293132;
  --background: #ebf5fc;
  --navbar-text: #ebf5fc;
  --navbar-background: #ff686b;

  --contrast: #293132;
  --opposite-contrast: #ebf5fc;
  --second-contrast: #ebf5fc;
  --second-opposite-contrast: #fb6376;

  --purple: #7d84b2;
  --white: #ebf5fc;
  --blue: #32a3b1;
  --black: #39393a;
  --grey: rgba(41, 50, 65, 0.6);

  --standard-font: "Nanum Gothic", sans-serif;
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  font-family: var(--standard-font);
  color: var(--text);
  padding: 0 20%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input::placeholder {
  font-family: var(--standard-font);
}
